.section-left {
  height: auto;
  padding: 100px 0 75px 0;
  overflow: hidden;
}

.section-left  h1{
  font-family: 'Vollkorn', serif;
  float: left;
  font-size: 75px;
  width: 70%;
  padding-left: 200px;
}

.section-left  p{
  display: inline-block;
  float: left;
  width: 58%;
  float: none;
  margin: 35px 0px 50px 200px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 23px;
}

.section-left  img{
  float: right;
  margin-right: 100px;
  margin-left: 18px;
  margin-top: 25px;
}

.section-right {
  height: auto;
  padding: 100px 0 75px 0;
  overflow: hidden;
}

.section-right h1{
  font-family: 'Vollkorn', serif;
  float: right;
  font-size: 75px;
  width: 70%;
  padding-right: 200px;
}

.section-right p{
  display: inline-block;
  float: right;
  width: 58%;
  float: none;
  margin: 34px 0px 50px 75px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 23px;
}

.section-right img{
  float: left;
  margin-right: 5px;
  margin-left: 75px;
  margin-top: 25px;
}

#white {
  background-color: white;
}

#tan {
  background-color: #e6e0ca;
}

#green {
  background-color: #cae6d2;
}

#magenta {
  background-color: #e6cade;
}
