.navbar-custom, .navbar-custom::before{
    background-image: none !important;
    opacity: 1;
    position: sticky;
    top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    align-content: center;
}

/*.navbar-custom:hover, .navbar-custom::after{
  background-image: none !important;
  background-color: white;
  transition: opacity .15s linear .1s;
  -webkit-transition: opacity .15s linear .1s;
}
*/
.logo-style {
  padding-left: 70px;
  padding-top: 15px;
}

.item-padding NavDropdown Nav.Link {
  padding: 0px 150px 0px 150px;
}

#header {
  background-color: #e6e0ca;
}
